#contact-type {
	background-color: #ffdd57;
	border: 1px solid;
	float: left;
	width: 250px;
	min-height: 300px;
	padding: 10px 10px 10px 10px;
}

#contact-question {
	background-color: #ffdd57;
	border: 1px solid;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 300px;
	padding: 10px 10px 10px 10px;
}

#contact-info {
	background-color: #ffdd57;
	border: 1px solid;
	float: right;
	width: 250px;
	height: 300px;
	padding: 10px 10px 10px 10px;
}

.contact-title {
	color: #454140;
	text-align: center;
}