#create-account {
	position:relative;
	border-top:30px solid #7F7F7F;
	border-bottom:30px solid #7F7F7F;
	border-left:2px solid #7F7F7F;
	border-right:2px solid #7F7F7F;
	background-color: #D0D4D9;
	top:0px; bottom:0; left:6%; right:0;
	width: 800px;
	height:300px;
	margin-top: 30px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 10px 10px 10px;
}

.create-account-values {
	float:left;
	width: 45%;
	margin-left: 4%;
}

.create-account-divider {
	border-left:1px solid #606060;
	height:280px;
	width: 0px;
	top: 0px;
	margin: 10px auto 10px auto;
}

.create-account-info {
	float: right;
	width: 45%;
}