.create-account-values {
	float:left;
	width: 45%;
	margin-left: 4%;
}

.create-account-divider {
	border-left:1px solid #606060;
	height:280px;
	width: 0px;
	top: 0px;
	margin: 10px auto 10px auto;
}

.create-account-info {
	float: right;
	width: 45%;
}