info, .success-message, .warning-message, .error-message {
	position:relative;
    border: 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right:15px;
    font: bold 12px verdana;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-shadow: 2px 2px 2px #ccc;
}
.info-message {
    color: #00529B;
    background: #BDE5F8;
}
.success-message {
    color: #4F8A10;
    background: #DFF2BF;
}
.warning-message {
    color: #9F6000;
    background: #FEEFB3;
}
.error-message {
    color: #D8000C;
    background: #FFBABA;
}