#header-background-container {
	position: fixed;
	background-color: #7F7F7F;
	width: 100%;
	height: 50px;
	z-index:100;
}

#header-background-extender {
	position: fixed;
	background-color: #606060;
	width: 100%;
	height: 50px;
	left:1260px;
	z-index:100;
}

#header-content {
	margin: 0 auto;
	width: 1260px;
	height: 50px;
}

#header-divider {
	position: fixed;
	background-color: #606060;
	width: 100%;
	height: 5px;
	z-index:100;
}

#header-user-info {
	float: right;
	margin-top: 5px;
	background-color: #7F7F7F;
	min-width: 300px;
	height:50px;
}
#header-user-info a:link {color: #fff; text-decoration: none;}
#header-user-info a:visited {color: #fff;}
#header-user-info a:hover {color: #FFCC00; text-decoration: none;}

#header-login {
	float: right;
	margin-top: 5px;
	background-color: #7F7F7F;
	min-width: 300px;
}
#header-login a:link {color: #fff; text-decoration: none;}
#header-login a:visited {color: #fff;}
#header-login a:hover {color: #FFCC00; text-decoration: none;}

#header-image {
	float:left;
	top: 5px;
	height: 50px;
}