#header-background-container {
	border-bottom: 1px solid;
	position: fixed;
	width: 100%;
	height: 70px;
	z-index:100;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 0;
	background-color: #ffdd57;
	background-image: url('../images/header-main-yellow.gif');
}

#header-background-extender {
	float: right;
	height: 70px;
	min-width: 100%;
	z-index:100;
	background-color: #454140;
	height: 70px;
}

#header-content {
	margin: 0 auto;
	width: 1100px;
	height: 70px;
}

#header-divider {
	top: 70px;
	position: fixed;
	background-color: #2646FF;
	background-image: url('../images/header-main-gray.gif');
	width: 100%;
	height: 5px;
	z-index:100;
}

#header-info {
	float: right;
	background-color: #454140;
	background-image: url('../images/header-main-gray.gif');
	height: 70px;
	min-width: 300px;
	padding-left: 20px;
	padding-right: 20px;
}
#header-info a:link {color: #fff; font-size: 12px; text-decoration: none;}
#header-info a:visited {color: #fff;}
#header-info a:hover {color: #fff; text-decoration: underline;}

#header-title {
	float: left;
	margin-top: 15px;
	color: #454140;
	font-size: 1.5em;
}