#left-side-bar {
	top: 73px;
	float: left;
	width:190px;
	z-index: 90;
	padding: 2px 2px 2px 2px;
	border: 1px solid #454140;
	background-color: #454140;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#left-side-bar-content {
	padding: 5px 0px 5px 5.5px;
}