#left-side-bar {
	top: 73px;
	float: left;
	width:190px;
	z-index: 90;
	padding: 2px 2px 2px 2px;
	border: 1px solid #454140;
	background-color: #454140;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#left-side-bar-content {
	padding: 5px 0px 5px 5.5px;
}

.sidebar-segment-title {
	text-align: center;
}

.sidebar-segment-content {
	width: 130px; 
	margin-left: 0;
}

.sidebar-links {
	width: 100%;
}

.sidebar-links tr td a {
    display:block;
    height:100%;
    width:100%;
}

.sidebar-links tr {
	width: 100%;
}

.sidebar-links a:link {text-decoration: none}
.sidebar-links a:visited {text-decoration: none}
.sidebar-links a:active {text-decoration: none}
.sidebar-links a:hover {text-decoration: none; background-color: #FFDD57; border: 1px solid #454140;}

.sidebar-highlight{
	width: 100%;
}