* {
	margin: 0;
}

html {
	height: 100%;
	background-color: #EAEADE;
	
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

body {
    height:100%;
}

#center {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-top: 0;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: -72px;
	width: 1100px;
}

.content {
	position:relative;
	left:200px;
	width: 900px;
	min-width: 900px;
	background-color: #fff;
	height: auto !important;
	height: 100%;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	

	-moz-box-shadow: 0px 5px 10px 5px #969696;
	-webkit-box-shadow: 0px 5px 10px 5px #969696;
	box-shadow: 0px 5px 10px 5px #969696;

}

.content-form {
	position:relative;
	border-top:30px solid #7F7F7F;
	border-bottom:30px solid #7F7F7F;
	border-left:2px solid #7F7F7F;
	border-right:2px solid #7F7F7F;
	background-color: #D0D4D9;
	width: 800px;
	margin-top: 30px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 10px 10px 10px;
}

.content-header {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #7F7F7F;
	padding: 10px 10px 10px 10px;
}

.button {
   border: 1px solid #7F7F7F;
   background: #7aabdc;
   padding: 4.5px 9px;
   color: white;
   font-weight: bold;
   font-size: 13px;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #7F7F7F;
   background: #7F7F7F;
   }
   
.bottom-footer, .push {
    height: 100px;
}

.bottom-footer {
    width: 100%; 
    height: 100px;
    color: #454140;
    background-color: #ffdd57;
    z-index:100;
    border-top: 1px #969696;
    border-style: inset;
}