.recipe-header {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #7F7F7F;
	padding: 10px 10px 10px 10px;
}

.segment {
	font-weight: bold;
	font-size: 1.2em;
}

.recipe-list {
	margin: 20px 0 20px 0;
	width: 100%;
}

.recipe-list th  {
	text-align: left;
}

.recipeContentRemove {
   border: 1px solid #7F7F7F;
   background: #7aabdc;
   padding: 4.5px 9px;
   color: white;
   font-weight: bold;
   font-size: 13px;
   text-decoration: none;
   vertical-align: middle;
   cursor:default; 
   width:42px; 
   font-size: 1em
   }
   
.recipeContentRemove:hover {
   border: 1px solid #7F7F7F;
   background: #7F7F7F;
   }
   
.recipeIngredientBox {
 	border: 1px solid #454140;
 	padding: 10px;
 	margin-top: 10px;
 	margin-bottom: 10px;
 }
 
 #recipeIngredientTable{
 	width: 100%;
 }
 
#recipeIngredientTable td, th {
	text-align: center;
}
 
#recipeIngredientTable th {
	font-weight: bold;
	font-size: 1.2em;
}

.recipe-segment {
	background-color: #EAEADE;
	color: #454140;
	border: 1px solid #454140;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px;
}







